In [1]:
# checking prime number
num = int(input("Enter a number: "))
for i in range(2, num):
    if num % i == 0:
        print(num, "is not a prime number")
        break
    else:
        print(num, "is a prime number")

Enter a number:  7

7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number

In [2]:
#output of this code 
X = [1,2,3]
y = X
y.append(4)
print(X)

[1, 2, 3, 4]

In [3]:
#List Example(Mutable)
my_list = [2,4,6]
print(my_list)

[2, 4, 6]

In [4]:
my_list[2]=9
print(my_list)

[2, 4, 9]

In [5]:
#Tuple Example(Immutable)
my_tuple = (2,4,6)
print(my_tuple)

(2, 4, 6)

In [6]:
my_tuple(2)=9
print(my_tuple)

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (1344677906.py, line 1)

In [7]:
#Create DataFrame
import pandas as pd

data = {"Name": ["Rohit","Rohan","Palak"],
        "Age": [24,23,19],
        "Score": [49,48,45]}
df = pd.DataFrame(data)
print(df)

    Name  Age  Score
0  Rohit   24     49
1  Rohan   23     48
2  Palak   19     45

In [8]:
import pandas as pd
data = {"Name": ["Alic","Bob","Charlie","David"],
        "Score": [85,92,78,90],
        "Age": [20,21,19,22]}
df = pd.DataFrame(data)
print(df)

      Name  Score  Age
0     Alic     85   20
1      Bob     92   21
2  Charlie     78   19
3    David     90   22

In [11]:
#Highest score
df1 = df.sort_values(by = 'Score', ascending = False)
df2 = df1.iloc[0]
df2

Name     Bob
Score     92
Age       21
Name: 1, dtype: object

In [12]:
#Average age
average_age = df["Age"].mean()
average_age

np.float64(20.5)

In [16]:
#Adding a new column
def get_grade(Score):
    if (core >=90):
        return ('A')
    elif(Score> 80):
        return ('B')
    else:
        retuen ('C')
df["Grade"] = df["Score"].apply(get_grade)
df

NameError: name 'score' is not defined